@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700,900&display=swap');
@import "tailwindcss";

:root {
  --background: #003BE2;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Satoshi', sans-serif;
  --font-poppins: var(--font-poppins);
  --font-satoshi: 'Satoshi', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #003BE2;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.bg-grid {
  background-size: 100px 100px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}
